
@{
    ViewBag.Title = "ThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/GD.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}
<body style="text-align:center">
    <h2>Đăng ký gói thành công</h2>
    <a class="btn btn-block btn-danger mt-4" href="@Url.Action("Index","GoiTaps_63134295")">Tiếp tục mua gói</a>
</body>
